@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5rem;
    background-color: #fff;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.text_uppercase{
    text-transform: uppercase;
}


.img_fluid{
    max-width: 100%;
    height: 250px;
    margin-bottom: 5rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

section{
    padding: 10rem 0;
    text-align: center;
}



.btn_large{
    font-size: 3rem;
    padding: 2.5rem 2rem;
}

.btn{
    margin-top: 4rem;
    padding: 2rem 1rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    color: #fff;
    transition: all .5s;
}

.btn_large{
    font-size: 3rem;
    padding: 2.5rem 2rem;
}

.btn_social{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 1rem;
}

.btn_outline{
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn_outline:hover{
    color: #293B4D;
    background-color: #fff;
    cursor: pointer;
}

.btn_primary{
    background-color: #293B4D;
    border-color: #fff;
}

.btn_primary:hover{
    background-color: #fff;
    color: #293B4D;
    border-color: #293B4D;
}

/* navbar start */

nav {
    width: 100%;
    font-family: 'Oleo Script', cursive;
    background-color: #293b4d;
    color: #fff;
    padding: 3rem 0;
    position: fixed;
    z-index: 100;
}

#logo_box{
    float: left;
    padding: 1rem;
    margin-top: 1rem;
}

#logo_box .logo{
    color:#fff;
    font-weight: 700;
    font-size: 3.5rem;
}

#nav_links{
    float: right;
    margin-top: 1.6rem;
}

#nav_links .nav_item{
    float: left;
    margin: 0.4rem;

}

#nav_links .nav_link{
    color:#fff;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.6rem;
    padding: block;
    letter-spacing: .1rem;
}

#nav_links .nav_link:hover{
    color:aqua;
}

/* navbar end */

/* header start */

header{
    background-color: cadetblue;
    height: 1000px;
    padding-top: calc(112px + 10rem);
    padding-bottom: 112px;
    text-align: center;
}

header h1{
    color: #fff;
    font-size: 7rem;
    margin-bottom: 7rem;
}

header h2{    
    padding: 10rem 0;
    color: #fff;
    font-size: 5rem;
    font-family: 'Tangerine', cursive;
}

header h1{
    color: #fff;
}

hr.star_light{
    border-color: #fff;
}

hr.star_dark{
    border-color: #16212e;
}

.star_light,.star_dark{
    border: none;
    border-top: .7rem solid;
    max-width: 40rem;
    margin: 3rem auto;
    overflow: visible;
    height: 2rem;
}

.star_light::after{
    background-color: #5F9EA0;
    color: #fff;
}

.star_dark::after{
    background-color: #fff;
    color: #16212E;
}

.star_light::after,.star_dark::after{
    content: "\f70b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 4rem;
    position: relative;
    top: -12px;
    padding: 0 1rem;
}

/* header end */

/* Section Portfolio start */

#portfolio{
    background-color: #fff;
}

#portfolio h2{
    font-size: 5rem;
    color: #16212e;
    margin-bottom: 3rem;
}

.col{
    float: left;
    width: 25%;
    padding: 1rem;
}

.portfolio_item{
    height: 250px;
    position: relative;
}

.portfolio_item img{
    display: block;
    width: 100%;
}

.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: peru;
    opacity: 0;
    transition: opacity .7s ease;
}

.image_overlay .icon{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.portfolio_item:hover .image_overlay{
    opacity: 0.6;
}
/* Section Portfolio end */


/* Section About start */
#about{
    background-color: #5F9EA0;
    color: white;
    height: 60rem;
}

#about h2{
    font-size: 5rem;
}

#about_text{
    text-align: left;
}

#about_text .left{
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 25rem;
}

#about_text .right{
    float: right;
    width: 50%;
    padding-left: 2rem;
    padding-right: 25rem;
}

#about_text .text{
    font-size: 3rem;
    line-height: 3rem;
}
/* Section About end */


/* Section Contact start */

#contact{
    height: 80rem;
}

#contact h2{
    height: 10rem;
    font-size: 5rem;
    color: #16212e;
    margin-bottom: 3rem;
}

#contact_form {
    width: 70%;
    height: 3rem;
    margin: 0 auto;
    /*text-align: left;*/
}

.form_group {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}


#contact .form_group input,.form_group textarea{
    border: none;
    width: 100%;
    font-size: 2.5rem;
    display: block;
}

#contact .form_group input:focus{
    outline: 0;
}

/* Section Contact end */

/* Section Footer start */

footer{
    height: 50rem;
    position: static;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #293B4D;
    color: #fff;
    text-align: center;
}

footer h4   {
    height: 10rem;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 3rem;
}

footer .col{
    width: 33%;
}

footer p{
    font-size: 2.5rem;
    margin-top: 1rem;
    line-height: 3rem;
}

footer li{
    display: inline-block;
    margin: 1rem;
}

/* Section Footer end */


/* Section Copyright start */

.copyright{
    background-color: #16212E;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}

/* Section Copyright end */
